<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/home.css">
        <script src="https://kit.fontawesome.com/75cf4e84e0.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <h1 id="heading" class="center"><i class="fas fa-syringe"></i> COVID Tracker API</h1>

        <p class="center" style="font-size: 2rem;">Welcome to my api created for tracking COVID patients</p>
        <p class="center" style="font-size: 1.5rem;">Let me walk you through available routes and responses that can be used.</p>
    </body>
</html>