<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/home.css">
        <script src="https://kit.fontawesome.com/75cf4e84e0.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <h1 id="heading"><i class="fas fa-syringe"></i> COVID Tracker API</h1>

        <p>Welcome to my api created for tracking COVID patients</p>
    </body>
</html>